.sidebar {
    border-right: 1px solid rgb(226, 226, 226);
    height: 100vh;
}

.hrdivider {
    border-top: 1px solid #8c8b8b;
    margin: 20px auto;
}

table > thead > tr > th, td  {
    text-align: center;
}

.bgHx {
    background-color: #fff;
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(224, 249, 255), rgb(189, 242, 255));
    background-image: -webkit-linear-gradient(95deg, rgb(189, 242, 255) 0%, rgb(221, 248, 255) 30%, rgb(255, 255, 255) 100%);
    background-image: -moz-linear-gradient(95deg, rgb(189, 242, 255) 0%, rgb(221, 248, 255) 30%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(95deg, rgb(189, 242, 255) 0%, rgb(221, 248, 255) 30%, rgb(255, 255, 255) 100%);
}

.res-icon {
    width: 30px;
    height: auto;
    display: none;
}

.ctrDiv {
    width: 40vw;
}

.LDiv, .RDiv {
    flex-direction: column;
    padding: 10px 20px;
}

.LDiv {
    width: 1500px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 10px .5px rgb(164, 199, 207) inset;
}

.RDiv {
    display: flex;
    border-radius: 0px 10px 10px 0px;
    background-color: #fff;
    opacity: .8;
    border: 1px solid rgb(226, 226, 226);
}

.logo, .usrlogo {
    width: 90px;
}

.alt-toast {
    display: none;
}

.usrlogo { /*usrlogin*/
    display: block;
}

div[data-grade-type]:hover {
    cursor: pointer;
}

#gradeBox {
    background-color: #f3f3f3;
}

#warningAlert {
    background-color: rgb(255, 244, 242);
}

#successAlert {
    background-color: rgb(242, 255, 245);
}

.adm-link {
    text-decoration: none;
    color: rgb(29, 135, 177);
    border-bottom: 1px solid rgb(29, 135, 177);
    padding-bottom: 5px;
}

.adm-link:hover {
    color: rgb(71, 74, 75);
}

/* create */
.crtform {
    justify-content: center;
    flex-direction: column;
}

/* users panel */
.usrpanel {
    width: 30vw;
    padding: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    box-shadow: 0px 0px 10px .5px rgb(164, 199, 207) inset;
}

@media (max-width: 800px) {

    .ctrDiv {
        width: 60vw;
    }

    .LDiv {
        width: 100%;
        border-radius: 10px;
    }

    .RDiv {
        display: none;
    }

    .logo {
        width: 200px;
    }

    .logowrp {
        align-self: flex-start;
    }

    .prg {
        padding-left: 10px;
        text-align: left;
    }

}

/* max-width */
@media (max-width: 575px) {
    .sidebar {
        height: auto;
    }

    .alt-toast {
        display: block;
    }

    .toast {
        display: none;
    }
}

@media (max-width: 550px) {
    
    .ctrDiv {
        width: 70vw;
    }

    .usrlogo {
        display: none;
    }

}

@media (max-width: 450px) {

    .max-vw {
        flex-direction: column;
    }

    .usrpanel {
        width: 70vw;
    }

}

@media (max-width: 400px) {
    
    .ctrDiv {
        width: 80vw;
    }

    .usrpanel {
        width: 80vw;
    }

}

@media (max-width: 300px) {

    .usrnav > div > .tglnk {
        display: none;
    }

    .res-icon {
        display: flex;
    }

    #studentTotal {
        text-align: center;
        padding: 5px;
    }

    .usrpanel {
        width: 90vw;
    }

}

/* min-width */
@media (min-width: 450px) {

    .min-vw {
        width: 400vw;
    }

    .usrpanel {
        width: 60vw;
    }

}

@media (min-width: 800px) {

    .ctrDiv {
        width: 80vw;
    }

    .usrpanel {
        width: 45vw;
    }

}

@media (min-width: 1120px) {

    .ctrDiv {
        width: 55vw;
    }

    .usrpanel {
        width: 40vw;
    }

}

@media (min-width: 1300px) {

    .ctrDiv {
        width: 50vw;
    }

    .usrpanel {
        width: 30vw;
    }

}

@media (min-width: 1820px) {

    .ctrDiv {
        width: 40vw;
    }

    .usrpanel {
        width: 30vw;
    }

}